
* {

  box-sizing: border-box;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
 }

li{
    display:inline-block;
    padding: 1%;
}

li > a{
    text-decoration: none;
    font-family: sans-serif;
}
.content{
    padding-left: 4%;
}
div.pic{

    float: left;
}

.pic h2 {
    margin-left: 4%;
}
.pic p {
    margin-left: 4%;
}

.colum{
    
    float:left;
        
}
.colum img{
             padding : 4% 4% 4% 4%;
             width: 100%;
             height: auto;
           }

footer{
    
    clear: both;
    padding: 10px 50px 50px;
    float: left;
}
.box{
    display: inline-block;
    padding:  4%;
}
.box a{
    text-decoration: none;
    color: #33ccff;
}
