@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
   li{background-color: white;float: left;}
   li > a{ color: black;}
   .right{padding-left: 60%;}
   .menu {background-color: white;float: left;padding:1%;}
  
    .banner {
                background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative ;
                height: 500px;
           }
    .content{
                color: white;
                text-shadow: 2px 2px black;
                position: absolute;
                padding: 100px 15px 30px 15px;
                
            }
    .content h1{
                    font-size: 50px;
                    margin: 0px;
                }
    .content p{
                    font-size: 20px;
                    margin: 0px;
                }
    .pic{
                background-color: #bfbfbf;
         
    }
    .footer{
                background-color:#f2f2f2;
       
    }
    #line{display: none;}
}