@media only screen and (max-width: 768px) {
  /* For mobile: */
    .col-ex {width: 100%;}
    li {background-color: #737373;}
    li > a{color: white; }
    .menu {background-color:#737373;float: left;}
    #line{display: none;}
}